@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ysabeau&display=swap');
body{
    background-color: rgb(95, 13, 189);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Montserrat', sans-serif;
}

nav ul{
    display: flex;
    align-items:center;
    list-style-type: none;
    height: 55px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 40px;
    padding: 0 7px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 73vh;
    background-color: black;
    color: rgb(251, 255, 254);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 80%;
    margin: 23px auto;
    border-radius: 10px;
    padding: 20px;
    background-image: url(bg.jpg);
}

.bottom {
    position:sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 50px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 130%;
    color: black;
    margin: 10px 0;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 30px;
}

.songItem img{
    width: 50px;
    margin: 0 23px 0;
    border-radius: 30px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    color: beige;
    font-family: 'Montserrat', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in;
}